<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <ui:composition>
	  	 <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	  	 <link rel="stylesheet" href="css/style.css" type="text/css" />
	  	 <h:form class="bottom">
	  	 
	  	 </h:form>
	  </ui:composition>
	  
	  
</html>