<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<ui:composition template="/layouts/commonLayouts.xhtml">
	<ui:define name="content">
		<h:head>
			<link rel="stylesheet" href="css/style.css" type="text/css" />
		</h:head>
		<h:form>
			<div>
				<h:commandButton
					action="#{navigationController.onSubmit('Home.xhtml')}"
					value="Back" />
			</div>
		</h:form>
		<div>
			<h:form class="noWrap">
				<p>Create Product</p>
				<p>
					Product Name:
					<h:inputText value="#{product.productName}" />
					
				</p>
				<p>
					Product Description:
					<h:inputText value="#{product.productDiscription}" />
				</p>
				<p>
					Product Amount
					<h:inputText value="#{product.productAmount}" />

				</p>
				<p>
					Product Cost
					<h:inputText value="#{product.productCost}" />

				</p>
				<p>
					Product ImageURL
					<h:inputText value="#{product.imageUrl}" />
					<h:graphicImage value="" width="70px" height="70px" />

				</p>
				<h:commandButton
					action="#{storeManager.CreateNewProduct()}"
					value="Save" />

			</h:form>
		</div>




	</ui:define>
</ui:composition>
</html>