<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<ui:composition template="/layouts/commonLayouts.xhtml">

	<ui:define name="content">
		<link rel="stylesheet" href="css/style.css" type="text/css" />

		<h:form class="searchHeader">
			<h:inputText value="" />
			<h:commandButton action="Home.xhtml" value="Search" />
		</h:form>
		<h:form class="searchHeader">
				<h:commandButton
					action="#{navigationController.adminOnSubmit('CreateProduct.xhtml')}"
					value="Create New Product" />
			</h:form>
		<body>
		
			
			<h:dataTable value="#{storeManager.allProducts}" var="o">
				<h:column class="col1">
					<div class="card">

						<f:facet name="header"></f:facet>
						<h:graphicImage value="#{o.imageUrl}" width="70px" height="70px" />
						<h1>#{o.productName}</h1>
						<p>$#{o.productCost} There are #{o.productAmount} in stock!</p>
						<p>#{o.productDiscription}</p>
						<h:form>
							<p>
							<h:commandButton action="#{storeManager.purchase(o)}"
									value="Buy" styleClass= "button"/>
									
							</p>
						</h:form>
					</div>
				</h:column>


			</h:dataTable>
		</body>
	</ui:define>
</ui:composition>






</html>